// /*******Fonts*****/
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;

$line-height-primary: 22px;
$line-height-secondary: 27px;

$font-weight-primary: 400;
$font-weight-secondary: 700;

$font-size-primary: 14px;
$font-size-secondary: 18px;
$font-size-h: 44px;

$letter-spacing-primary: 0.1em;
$letter-spacing-secondary: 0.3em;


/*******width*******/
$desktop: 1600px;
$tablet: 768px;
$tablet-max: $desktop - 1;
$mob: 320px;
$mob-max: $tablet - 1;
$large: 1700px;

/*******color*******/
$color-primary: #FFFFFF;
$color-secondary: #2C4058;
$color-border: #55B7FF;


