.header {
    background: url(../images/header_main.png), linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
    background-size: cover;
    color: $color-primary;
    padding: 53px 52px 58px 215px;
    font-family: $font-family-primary;
    letter-spacing: $letter-spacing-secondary;
    position: relative;
        @include mediaMax ($tablet-max) {
            padding: 50px;
        }
        @include media ($large) {
            padding: 53px 5px 58px 5px;
        }
}

.title {
    margin: 232px 278px 190px 130px;
    font-weight: $font-weight-secondary;
    font-size: 80px;
    letter-spacing: $letter-spacing-primary;
    text-align: center;
        @include mediaMax ($mob-max) {
            font-size: 40px; }
        @include mediaMax ($tablet-max) {
            margin: 50px 15px 200px;
        }
        @include media ($large) {
            margin: 232px 0 190px 0;
        }
}

h2 {
    font-family: $font-family-primary;
    font-weight: $font-weight-secondary;
    font-size: $font-size-h;
    line-height: 54px;
    color: $color-secondary;
    position: relative;
    width: 334px;
    margin: 0 auto;
    text-align: center;

    &::before {
        content: "";
        border: 1px solid #2C4058;
        width: 40%;
        left: 30%;
        position: absolute;
        bottom: 80px;
    }
}

.header__menu {
    display: flex;
    letter-spacing: 0.01em;
        @include mediaMax ($tablet-max) {
            display: block;
        }
        @include media ($large) {
            justify-content: space-evenly;
        }
}


.subtitle {
    font-size: $font-size-secondary;
    font-weight: $font-weight-primary;
    letter-spacing: $letter-spacing-secondary;
    padding-top: 35px;
}

.slider-two {
    background: url(../images/header_main.png), linear-gradient(17deg, #7E5AFF 16.9%, #55B7FF 85.27%);
}

.slider-third {
    background: url(../images/header_main.png), linear-gradient(150deg, #7E5AFF 16.9%, #55B7FF 45.27%);
}

.slider-fourth {
    background: url(../images/header_main.png), linear-gradient(5deg, #7E5AFF 16.9%, #55B7FF 75.27%);
}

.slider-fifth {
    background: url(../images/header_main.png), linear-gradient(226deg, #7E5AFF 16.9%, #55B7FF 64.27%);
}

.header__banner {
    position: relative;
        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 36%;
            right: 40px;
            gap: 7px;
                @include mediaMax ($mob-max){
                    top: 73%;
                    right: 30%;
                    flex-direction: row;
                }

    }
}

.header__banner
    button {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        font-size: 0;
        border-radius: 50%;
        color: white;
        height: 8px;
        width: 10px;
        margin: 15px;
        padding: 4px;
}

.header__banner .slick-next {
    display: none !important; 
}
    

.header__banner .slick-prev {
    display: none !important; 
}


.header__banner
    .slick-down {
        position: absolute;
        background: url(../images/SVG/slider-bottom.svg);
        background-repeat: no-repeat;
        border: 1px solid white;
        left: 48%;
        top: 87%;
        border-radius: 25px;
        background-position: center;
        background-size: auto;
        width: 40px;
        height: 40px;
            @include mediaMax ($mob-max) {
                left: 43%;
                top: 87%;
            }
    }

    .header__burger {
        &:before {
            width: 0;
            @include mediaMax ($tablet-max) {
                content: "";
                background-color: white;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 30px;
                transition: all 1s ease-out;
            }   
        }
    }
    
    .header span {
    display: none;
        @include mediaMax ($tablet-max) {
            display: inline;
            position: absolute;
            background-color: white;
            left: 0;
            width: 100%;
            height: 2px;
            left: 30px;
            top: 13px;
            transition: all 1s ease-out;
            }
    }
    
    .header__burger {
        &:after {
        width: 0;
           @include mediaMax ($tablet-max) {
                content: "";
                background-color: white;
                position: absolute;
                width: 100%;
                height: 2px;
                top: 26px;
                left: 30px;
                transition: all 1s ease-out;
            }
        }
    }

.header__burger {
    position: absolute;
    top: 7%;
    right: 80px;
    width: 30px;
        @include mediaMax ($mob-max) {
            top: 10%;
            right: 19%;
        }
}

.nav__list.activeMenu {
    display: block;
    font-size: 22px;
    line-height: $line-height-secondary;
}

.header__burger.activeMenu span {
    transform: scale(0);
    transition: all 1s ease-out;
}

.header__burger.activeMenu:before {
    transform: rotate(45deg);
    top: 15px;
    transition: all 1s ease-out;
}

.header__burger.activeMenu:after {
    transform: rotate(-45deg);
    top: 16px;
    transition: all 1s ease-out;
}
